# Python packages that are described in requirements.txt

bin/
certifi*dist-info/
certifi/
chardet*dist-info/
chardet/
cshadow.zip
greengrasssdk*dist-info/
greengrasssdk/
idna*dist-info/
idna/
requests*dist-info/
requests/
urllib3*dist-info/
urllib3/
utils.py