__pycache__/
bin/
boto3-1.9.215.dist-info/
boto3/
botocore-1.12.215.dist-info/
botocore/
dateutil/
ddb.zip
docutils-0.15.2.dist-info/
docutils/
greengrasssdk-1.4.0.dist-info/
greengrasssdk/
jmespath-0.9.4.dist-info/
jmespath/
python_dateutil-2.8.0.dist-info/
s3transfer-0.2.1.dist-info/
s3transfer/
six-1.12.0.dist-info/
six.py
six.pyc
urllib3-1.25.3.dist-info/
urllib3/