__pycache__/
bin/
boto3*dist-info/
boto3/
botocore*dist-info/
botocore/
dateutil/
ddb.zip
docutils*dist-info/
docutils/
greengrasssdk*dist-info/
greengrasssdk/
jmespath*dist-info/
jmespath/
python_dateutil*dist-info/
s3transfer*dist-info/
s3transfer/
six*dist-info/
six.py
six.pyc
urllib3*dist-info/
urllib3/